In [1]:
import pandas as pd
df = pd.read_csv('day1.txt', names=['distance'])
df

      distance
0          140
1          154
2          165
3          150
4          151
...        ...
1995      3575
1996      3587
1997      3591
1998      3595
1999      3596

[2000 rows x 1 columns]

In [4]:
df.distance.shift(-1)

0        154.0
1        165.0
2        150.0
3        151.0
4        161.0
         ...
1995    3587.0
1996    3591.0
1997    3595.0
1998    3596.0
1999       NaN
Name: distance, Length: 2000, dtype: float64

In [6]:
# part 1
(df.distance.shift(-1) > df.distance).sum()

1298

In [12]:
# part 2
(df.distance.shift(-1).rolling(3).sum() > df.distance.rolling(3).sum()).sum()

1248

In [10]:
df.distance.shift(-1).rolling(3).sum()

0           NaN
1           NaN
2         469.0
3         466.0
4         462.0
         ...
1995    10725.0
1996    10753.0
1997    10773.0
1998    10782.0
1999        NaN
Name: distance, Length: 2000, dtype: float64